{% extends 'adminindex.html'  %}
{% load static %}

{% block body %}

    <section class="h-100" style="background-image:url({% static 'dist/img/turf.jpg' %}); background-position: center; background-size: cover; " >
        <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100" style="padding: 180px; margin-top: -127px;">
            <div class="col" style="margin-top: 20px;">
            <div class="card card-registration my-4" style="background-color: rgba(0, 0, 0, 0.5);">
                <div class="row g-0">
               
                <div class="col-xl-12" >
                    <div class="card-body p-md-5 text-white">
                    <h3 class="mb-5 text-uppercase">Turf Location Update</h3>

                    {% for i in Turfdata %}
                    <form action="{% url 'updateturflocation' i.id %}" method="post" enctype="multipart/form-data">
                    {% endfor %}
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6 mb-5">
                            <select class="select" name="tLocation" style="background-color: rgba(0,0,0,0.5); color: white; width: 666px; height: 48px;border-radius: 0.3rem; border: 1px solid; margin-bottom: -1px;">
                                {% for i in data %}
                                <option value="{{i.id}}">{{i.districtname}}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                        
                        {% for i in Turfdata %}
                        <div class="form-outline mb-4">
                            <input type="text" name="tName" required id="form3Example8" class="form-control form-control-lg" style="background-color: rgba(0,0,0,0.5); color: white;" value="{{i.tname}}"/>
                            <label class="form-label" for="form3Example8">Turf Name</label>
                        </div>

                            <div class="form-outline mb-4">
                                <input type="text" name="tAddress" required id="form3Example8" class="form-control form-control-lg" style="background-color: rgba(0,0,0,0.5); color: white;" value="{{i.turfaddress}}"/>
                                <label class="form-label" for="form3Example8">Address</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" name="tPprice" required id="form3Example8" class="form-control form-control-lg" style="background-color: rgba(0,0,0,0.5); color: white;" value="{{i.placeprice}}"/>
                                <label class="form-label" for="form3Example8">Price</label>
                            </div>

                            <div class="form-outline mb-4">
                                <img src="{{i.turfimage.url}}" alt="" style="width: 150px; height: 150px;">
                                <input type="file" name="tImage"  id="form3Example97" class="form-control form-control-lg" style="background-color: rgba(0,0,0,0.5); color: white;"/>
                                <label class="form-label" for="form3Example97">Image</label>
                            </div>
                            {% endfor %}

                            
                            <div class="form-outline mb-4">
                                {% for i in Turfextraimages %}
                                <img src="{{i.additionalimages.url}}" alt="" style="width: 150px; height: 150px;">
                                {% endfor %}
                                <input type="file" name="tExtraimages"  id="form3Example97" class="form-control form-control-lg" style="background-color: rgba(0,0,0,0.5); color: white;" multiple/>
                                <label class="form-label" for="form3Example97">Additional Images</label>
                            </div>
                            

                            <div class="form-outline mb-4">
                                <input type="submit"  id="form3Example97" class="form-control form-control-lg btn btn-outline border" style="background-color: rgba(0,0,0,0.5); color: white; width: 120px;" value="UPDATE"/>
                            </div>

                    </form>
    
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

{% endblock body %}